<div class="group-info">  
  <div class="car-info" ng-repeat="info in typeInfo">
    <div class="row-line">
      <span class="head">Название:</span><span title="{{info.name}} [c {{info.start.getDate()}}-{{info.start.getMonth()}}-{{info.start.getFullYear()}} по {{info.end.getDate()}}-{{info.end.getMonth()}}-{{info.end.getFullYear()}}]">{{info.name}} [c {{info.start.getDate()}}-{{info.start.getMonth()}}-{{info.start.getFullYear()}} по {{info.end.getDate()}}-{{info.end.getMonth()}}-{{info.end.getFullYear()}}]</span>
    </div>    
    <div class="row-line">
      <span class="head">Двигатель:</span><span><b>{{(info.volume/1000)}}</b> л. {{info.fuel}} <b>{{info.power}}</b> лс/кВт  [{{info.cyl}}/{{info.val}}] цил/клап </span>
    </div>    
    <div class="row-line">
      <span class="head">Доп.:</span><span> {{info.drive}} {{info.side}} </span>
    </div>    
    <div class="hsplit"></div>
  </div>
  
  <tree ng-model="treeModel" filter="{{typeFilter}}" on-select="groupSelected"> 
    
  </tree>  
</div>