<div class="searh-history">
  <span class="header">Прошлые запросы:</span>
  <span ng-repeat="hitem in history track by $index" ng-click="onArticulSelect(hitem)">
    {{hitem}}
  </span>
</div>

<ul class="search-helper">
  <li class="row-line" ng-repeat="shitem in helper">    
    <div class="header">Артикул: </div>
    <div class="search-articul" ng-click="onArticulSelect(shitem.number)">{{shitem.number}}</div> 
    <div class="info-item" title="Информация..." ng-click="onDropDownInfo(shitem.aid,shitem.number)"></div>
    <div class="header">Производитель:</div>
    <div class="search-brand">{{shitem.brand}}</div>
  </li>
</ul>