<div class="settings">  
  <div class="row-line analog">    
    <switch id="show-analog" ng-model="analog.analogShow" class="green"></switch><b> Показывать аналоги</b>  
  </div>
  
  <div class="divider"></div>
  <div class="row-line markup">    
    <b>Уровень наценки:</b>
  </div>
  <div class="row-line">    
    <select ng-model="markup.selected">
      <option ng-repeat="item in markup.values track by $index" value="{{item}}">{{item.n}} ({{item.v}}%)</option>
    </select>
  </div>  
  
  <div class="divider"></div>
  <div class="row-line markup">    
    <b>Активная корзина</b>
  </div>
  <div class="row-line">    
    <select ng-model="basket.selected">
      <option ng-repeat="bitem in basket.values" value="{{bitem.id}}"><b>{{bitem.name}}</b></option>
    </select>
  </div>
  
</div>
