/* 
    Created on : 09.09.2015, 09.09.2015 19:50:44
    Author     : sync1983
*/
/*
$bg_color:        #1A4D60;
$main_color:      #6891A1;
$info_text_color: #ECE862;

$menu_iacolor:    #1A4D60;
$menu_color:      #A8C5CF;
$menu_border:     #1A4D60;
$menu_active_bg:  #365161;

$atc_color:       #0C557F;


/**/
/*$bg_color: #495266;//#2F4654;
$info_color: #ECE862;
$menu_color: #FFF7E5;//#9CE9F3; 
$menu_border: #476171;
$main_color: #8F9AB2 ;//#4A80A0;
//$yellow_color: #F5D909;
$atc_color: #0C557F; 
/**/
html, body {
  background-color: #155871;
  height: 100%; }

.wrap {
  width: 100%;
  height: auto;
  margin: 0 auto -130px; }
  .wrap > .container-fluid {
    padding: 0;
    width: 100%;
    margin: 130px auto 0;
    background-color: #FFF; }

div.head-logo {
  top: 7px;
  left: 1%;
  height: 80px;
  background-color: transparent;
  display: block;
  position: absolute;
  z-index: 2; }
  div.head-logo > img {
    height: 80px; }

.info {
  background-color: transparent;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 22px;
  padding: 0;
  line-height: 22px;
  border-left: 2px solid #1A4D60;
  text-align: center;
  display: inline-block;
  position: absolute; }
  .info > div.header-up {
    top: 0;
    left: 0;
    width: 25%;
    height: 22px;
    background-color: #94CFE6;
    position: absolute;
    display: inline-block; }
    .info > div.header-up div {
      height: 100%;
      border-left: 22px solid transparent;
      border-top: 22px solid #155871;
      vertical-align: top;
      display: inline-block;
      float: right; }
  .info > div.text-info {
    color: #ECE862;
    left: 25%;
    width: 75%;
    display: inline-block;
    position: absolute; }
    .info > div.text-info > span {
      width: 24%;
      max-width: 300px;
      margin: 0;
      padding: 0 10px;
      font-family: Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.9em;
      text-align: left;
      vertical-align: middle;
      font-weight: bold;
      overflow: hidden;
      display: inline-block;
      pointer-events: auto; }
      .info > div.text-info > span > a {
        color: #ECE862; }
      .info > div.text-info > span > img {
        top: -2px;
        height: 15px;
        padding: 0 5px;
        position: relative; }

.main-menu-left {
  background-color: #94CFE6;
  top: 82px;
  left: 0;
  width: 12.36094%;
  bottom: 5px;
  border-top: 1px solid #1A4D60;
  border-right: 1px solid #1A4D60;
  border-left: 2px solid #1A4D60;
  position: absolute; }
  .main-menu-left ul {
    color: #C4E8F6;
    width: 100%;
    padding: 0;
    line-height: 35px;
    text-align: right;
    list-style: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-stretch: expanded;
    font-weight: bold;
    text-transform: initial;
    cursor: default; }
    .main-menu-left ul:first-child {
      color: #40819A;
      padding: 30px 0 0 0;
      position: relative; }
      .main-menu-left ul:first-child > li {
        text-align: right !important;
        text-shadow: none;
        text-transform: uppercase;
        width: 100%;
        padding: 5px 0px;
        text-align: left;
        vertical-align: middle;
        border-top: 1px solid #1A4D60; }
        .main-menu-left ul:first-child > li:first-child {
          border-top: none; }
        .main-menu-left ul:first-child > li:hover {
          background-color: #94CFE6;
          cursor: default; }
        .main-menu-left ul:first-child > li:before {
          content: ""; }
        .main-menu-left ul:first-child > li > span {
          width: 100%;
          padding: 0 40px 0 0;
          display: block; }
          .main-menu-left ul:first-child > li > span:after {
            top: 3px;
            left: 15px;
            color: #40819A;
            content: '\E114';
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            position: relative;
            display: inline-block; }
    .main-menu-left ul > li {
      padding: 0 10px 0 0px;
      text-shadow: 0 0 2px black; }
      .main-menu-left ul > li > span {
        padding: 0 30px; }
      .main-menu-left ul > li:hover {
        background-color: #365161;
        cursor: pointer; }
      .main-menu-left ul > li:before {
        color: #C4E8F6;
        right: 20px;
        position: absolute; }
      .main-menu-left ul > li.active {
        background-color: #365161; }
        .main-menu-left ul > li.active:after {
          color: #FFF;
          right: -2px;
          content: '\1F780';
          text-shadow: -1px 0 1px #1A4D60;
          position: absolute; }

.search-bar {
  background: linear-gradient(to bottom, #94CFE6 10%, #C4E8F6 49%, #94CFE6 90%);
  top: 22px;
  left: 0;
  width: 100%;
  height: 60px;
  margin: 0 0;
  line-height: 40px;
  border-left: 2px solid #1A4D60;
  vertical-align: bottom;
  position: absolute; }
  .search-bar > .input-helper {
    top: 10px;
    left: 20%;
    width: 60%;
    position: relative; }
    .search-bar > .input-helper > input {
      height: 40px;
      width: 100%;
      padding: 0 5px;
      border-radius: 5px;
      border: 1px #0C557F solid; }
    .search-bar > .input-helper > .icon {
      right: 0;
      opacity: 0.5;
      padding: 12px 10px;
      position: absolute; }
    .search-bar > .input-helper > ul {
      right: 0;
      left: 0;
      min-width: 160px;
      max-height: 500px;
      color: #333;
      background-color: #FFF;
      border-radius: 10px;
      list-style: none outside;
      padding: 5px 10px;
      white-space: normal;
      text-align: left;
      box-shadow: 7px 8px 20px black, inset -1px -1px 6px #0A2C4A,inset 1px 1px 6px #2B58A2;
      overflow-style: move;
      overflow-y: auto;
      position: absolute; }
      .search-bar > .input-helper > ul > li {
        padding: 2px 10px;
        border-radius: 0px;
        border-bottom: 1px solid #C7C7C7;
        float: none;
        position: relative; }
        .search-bar > .input-helper > ul > li:last-child {
          border-bottom: none; }
        .search-bar > .input-helper > ul > li:hover {
          color: #0030C3; }
        .search-bar > .input-helper > ul > li > input.form-control {
          line-height: 1rem;
          height: 25px; }
  .search-bar .markup-selector > span {
    font-weight: bold !important; }
  .search-bar .ui-select-choices-row:hover {
    background-color: #FFF !important; }
  .search-bar label {
    width: 60%;
    vertical-align: top; }

/* 
    Created on : 19.10.2015, 19.10.2015 10:11:43
    Author     : sync1983
*/
/* 
    Created on : 19.10.2015, 19.10.2015 10:08:57
    Author     : sync1983
*/
div.sinput {
  height: 22px;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 0px #1A4D60; }
  div.sinput.active {
    box-shadow: 0px 0px 8px 2px #053040; }
  div.sinput > input {
    top: -14px;
    width: 100%;
    height: 18px;
    padding: 0 7px;
    font-size: 0.7em;
    font-weight: bold;
    color: #1A4D60;
    outline: 0;
    line-height: 18px;
    border: none;
    position: relative; }

input.sinput::-webkit-input-placeholder {
  color: #A8C5CF;
  font-weight: normal; }

input.sinput:-moz-placeholder {
  color: #A8C5CF;
  font-weight: normal; }

input.sinput::-moz-placeholder {
  color: #A8C5CF;
  font-weight: normal; }

input.sinput:-ms-input-placeholder {
  color: #A8C5CF;
  font-weight: normal; }

form.login-form .row-line {
  width: 80%;
  left: 10%;
  margin: 10px 0;
  height: 18px;
  position: relative; }
form.login-form label {
  color: #651504;
  height: 14px;
  line-height: 14px;
  font-size: 0.65em;
  text-transform: initial;
  vertical-align: middle; }

.view {
  top: 83px;
  left: 12.36094%;
  right: 0;
  bottom: 5px;
  overflow-y: auto;
  background-color: #E0E0E0;
  position: absolute; }

.circle {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 2px solid #006699;
  margin: 10px 5px;
  text-align: center;
  background: linear-gradient(-20deg, rgba(0, 80, 155, 0.5) 0%, rgba(155, 155, 255, 0.2) 70%, rgba(255, 255, 255, 0.7) 80%, white 100%);
  cursor: pointer; }
  @media screen and (min-width: 34rem) {
    .circle {
      height: 40px;
      width: 40px;
      line-height: 40px; } }
  @media screen and (min-width: 48rem) {
    .circle {
      height: 60px;
      width: 60px;
      line-height: 60px; } }
  @media screen and (min-width: 62rem) {
    .circle {
      height: 80px;
      width: 80px;
      line-height: 80px; } }
  @media screen and (min-width: 75rem) {
    .circle {
      height: 100px;
      width: 100px;
      line-height: 100px; } }
  .circle > img {
    top: -3px;
    max-width: 50%;
    position: relative; }
  .circle:hover {
    background: linear-gradient(-20deg, rgba(0, 80, 155, 0.7) 0%, rgba(155, 155, 255, 0.4) 70%, rgba(255, 255, 255, 0.4) 80%, #9b9bff 100%); }

.login-window {
  right: 0%;
  left: auto;
  text-align: initial;
  line-height: initial;
  top: 100px; }

span.placeholder {
  color: #DDD; }

.select2 {
  position: relative; }

ul.select2selector {
  right: 0;
  min-width: 160px;
  color: #333;
  background-color: #FFF;
  border-radius: 10px;
  list-style: none outside;
  padding: 5px 10px;
  white-space: normal;
  text-align: left;
  box-shadow: 7px 8px 20px black, inset -1px -1px 6px #0A2C4A,inset 1px 1px 6px #2B58A2;
  position: absolute; }
  ul.select2selector > li {
    padding: 2px 10px;
    border-radius: 0px;
    border-bottom: 1px solid #C7C7C7; }
    ul.select2selector > li:last-child {
      border-bottom: none; }
    ul.select2selector > li:hover {
      color: #0030C3; }

.ajax-button {
  top: 0;
  right: 0;
  height: 100% !important;
  background-color: transparent;
  border: none;
  position: absolute; }

.ajax-button-helper {
  top: 0;
  left: 0;
  margin: 0 10px;
  min-width: 200px;
  min-height: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .85rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  line-break: auto;
  position: absolute;
  z-index: 1001; }
  .ajax-button-helper > .pointer {
    bottom: 50%;
    left: -10px;
    border: solid 10px transparent;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
    position: absolute; }
    .ajax-button-helper > .pointer::after {
      bottom: -10px;
      left: 1px;
      content: "";
      border-width: 11px; }
  .ajax-button-helper > .ajax-button-header {
    padding: 8px 14px;
    margin: 0;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0.7rem 0.7rem 0 0; }
  .ajax-button-helper > .ajax-button-context {
    padding: 9px 14px; }

.footer {
  width: 100%;
  left: 0;
  margin: 0 auto;
  bottom: 0px;
  height: 80px;
  background-color: #94CFE6;
  position: absolute; }

/*# sourceMappingURL=site.css.map */
