/* 
    Created on : 09.09.2015, 09.09.2015 19:50:44
    Author     : sync1983
*/
html, body {
  background-color: #2F4654;
  height: 100%; }

.wrap {
  width: 98%;
  height: auto;
  margin: 0 auto -130px; }
  .wrap > .container-fluid {
    padding: 0;
    width: 100%;
    margin: 130px auto 0;
    background-color: #FFF; }

.head {
  top: 22px;
  left: 2%;
  width: 98%;
  height: 60px;
  line-height: 60px;
  background-color: transparent;
  padding: 0;
  margin: 0 0;
  position: absolute;
  z-index: 1; }
  .head > .head-logo {
    top: -15px;
    height: 80px;
    display: block;
    position: relative;
    margin: 0 5px;
    float: left; }
    .head > .head-logo > img {
      height: 80px; }
  .head div.header-up {
    width: 25%;
    left: -1%;
    top: -20px;
    height: 20px;
    background-color: #FFFFBA;
    position: absolute;
    display: inline; }
    .head div.header-up div {
      height: 20px;
      border-left: 20px solid transparent;
      border-top: 20px solid #2F4654;
      vertical-align: top;
      display: inline-block;
      float: right; }

.info {
  top: 0px;
  right: 0px;
  width: 100%;
  color: #0C557C;
  padding: 0;
  height: 20px;
  text-align: center;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  pointer-events: none; }
  .info > p {
    width: 80%;
    left: 20%;
    line-height: 20px;
    position: relative; }
    .info > p > span {
      width: 24%;
      max-width: 300px;
      margin: 0;
      padding: 0 10px;
      font-family: Geneva, Arial, Helvetica, sans-serif;
      font-size: 0.9em;
      text-align: left;
      vertical-align: middle;
      font-weight: bold;
      overflow: hidden;
      display: inline-block;
      border-right: 2px solid #000;
      box-shadow: 1px 1px #000;
      pointer-events: auto; }
      .info > p > span:last-child {
        border-right: none; }
      .info > p > span > img {
        top: -2px;
        height: 15px;
        padding: 0 5px;
        position: relative; }

.search-bar {
  top: 22px;
  left: 1%;
  width: 98%;
  height: 60px;
  line-height: 40px;
  margin: 0 0;
  background-color: #FFFFBA;
  vertical-align: bottom;
  position: absolute; }
  .search-bar span.header {
    float: left;
    width: 100%; }
  .search-bar > .input-helper {
    top: 10px;
    left: 20%;
    width: 60%;
    position: relative; }
    .search-bar > .input-helper > input {
      height: 40px;
      width: 100%;
      padding: 0 5px;
      border-radius: 5px;
      border: 1px #0C557C solid; }
    .search-bar > .input-helper > .icon {
      right: 0;
      opacity: 0.5;
      padding: 12px 10px;
      position: absolute; }
    .search-bar > .input-helper > ul {
      right: 0;
      left: 0;
      min-width: 160px;
      max-height: 500px;
      color: #333;
      background-color: #FFF;
      border-radius: 10px;
      list-style: none outside;
      padding: 5px 10px;
      white-space: normal;
      text-align: left;
      box-shadow: 7px 8px 20px black, inset -1px -1px 6px #0A2C4A,inset 1px 1px 6px #2B58A2;
      overflow-style: move;
      overflow-y: auto;
      position: absolute; }
      .search-bar > .input-helper > ul > li {
        padding: 2px 10px;
        border-radius: 0px;
        border-bottom: 1px solid #C7C7C7;
        float: none;
        position: relative; }
        .search-bar > .input-helper > ul > li:last-child {
          border-bottom: none; }
        .search-bar > .input-helper > ul > li:hover {
          color: #0030C3; }
        .search-bar > .input-helper > ul > li > input.form-control {
          line-height: 1rem;
          height: 25px; }
  .search-bar .markup-selector > span {
    font-weight: bold !important; }
  .search-bar .ui-select-choices-row:hover {
    background-color: #FFF !important; }
  .search-bar label {
    width: 60%;
    vertical-align: top; }

.main-menu-left {
  top: 82px;
  left: 1%;
  width: 14%;
  bottom: 60px;
  background-color: #FFFFBA;
  position: absolute; }
  .main-menu-left > ul {
    list-style: none; }
    .main-menu-left > ul:first-child {
      padding: 20px 20px 0 20px; }
    .main-menu-left > ul > li {
      border-bottom: 1px solid #000; }
      .main-menu-left > ul > li > h4 {
        width: 100%;
        text-align: center; }
  .main-menu-left ul {
    padding: 0 0 0 60px;
    list-style: none; }
    .main-menu-left ul li {
      width: 100%;
      text-align: right; }

.circle {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 2px solid #006699;
  margin: 10px 5px;
  text-align: center;
  background: linear-gradient(-20deg, rgba(0, 80, 155, 0.5) 0%, rgba(155, 155, 255, 0.2) 70%, rgba(255, 255, 255, 0.7) 80%, white 100%);
  cursor: pointer; }
  @media screen and (min-width: 34rem) {
    .circle {
      height: 40px;
      width: 40px;
      line-height: 40px; } }
  @media screen and (min-width: 48rem) {
    .circle {
      height: 60px;
      width: 60px;
      line-height: 60px; } }
  @media screen and (min-width: 62rem) {
    .circle {
      height: 80px;
      width: 80px;
      line-height: 80px; } }
  @media screen and (min-width: 75rem) {
    .circle {
      height: 100px;
      width: 100px;
      line-height: 100px; } }
  .circle > img {
    top: -3px;
    max-width: 50%;
    position: relative; }
  .circle:hover {
    background: linear-gradient(-20deg, rgba(0, 80, 155, 0.7) 0%, rgba(155, 155, 255, 0.4) 70%, rgba(255, 255, 255, 0.4) 80%, #9b9bff 100%); }

.login-window {
  right: 1%;
  left: auto;
  text-align: initial;
  line-height: initial;
  top: 100px; }

span.placeholder {
  color: #DDD; }

.select2 {
  position: relative; }

ul.select2selector {
  right: 0;
  min-width: 160px;
  color: #333;
  background-color: #FFF;
  border-radius: 10px;
  list-style: none outside;
  padding: 5px 10px;
  white-space: normal;
  text-align: left;
  box-shadow: 7px 8px 20px black, inset -1px -1px 6px #0A2C4A,inset 1px 1px 6px #2B58A2;
  position: absolute; }
  ul.select2selector > li {
    padding: 2px 10px;
    border-radius: 0px;
    border-bottom: 1px solid #C7C7C7; }
    ul.select2selector > li:last-child {
      border-bottom: none; }
    ul.select2selector > li:hover {
      color: #0030C3; }

.ajax-button {
  top: 0;
  right: 0;
  height: 100% !important;
  background-color: transparent;
  border: none;
  position: absolute; }

.ajax-button-helper {
  top: 0;
  left: 0;
  margin: 0 10px;
  min-width: 200px;
  min-height: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .85rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  line-break: auto;
  position: absolute;
  z-index: 1001; }
  .ajax-button-helper > .pointer {
    bottom: 50%;
    left: -10px;
    border: solid 10px transparent;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
    position: absolute; }
    .ajax-button-helper > .pointer::after {
      bottom: -10px;
      left: 1px;
      content: "";
      border-width: 11px; }
  .ajax-button-helper > .ajax-button-header {
    padding: 8px 14px;
    margin: 0;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0.7rem 0.7rem 0 0; }
  .ajax-button-helper > .ajax-button-context {
    padding: 9px 14px; }

.footer {
  width: 98%;
  left: 1%;
  margin: 0 auto;
  bottom: 0px;
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  position: absolute; }

/*# sourceMappingURL=site.css.map */
