/* 
    Created on : 12.11.2017, 22:06:56
    Author     : Sync<atc58.ru>
*/

div#menu-block{
  top: 0;
  width: 75%;
  height: 100%;
  background-color: #404040;
  border-right: 1px solid black;
  display: none;
  float: left;
  position: static;
  
  ul{
    margin: 0;
    padding: 0;
    list-style: none; 
    
    li{
      div.menu-close{
        margin: 0 auto;
        padding: 0 1rem;
        background-color: $main-color;
        text-align: center;
        font-weight: bold;
        height: 2.5rem;
      }
      div.menu-row{
        font-weight: bold;
        font-size: 1rem;
        height: 1.6rem;
        border-bottom: 1px solid $atc_color;
        color: white;
        text-align: center;
      }
    }
  }
} 