<div class="basket-view">

  <ul>
    <li ng-repeat="row in parts" ng-click="row.open=true">
      <div class="line-a">
        <span>{{row.articul}}</span>
        <span>{{row.maker}}</span>        
        <span style="float: right">Заказ: {{row.sell_count}} шт.</span>
      </div>
      <div class="line-b">
        <span>{{row.name}}</span>
      </div>
      <div class="row-expand" ng-show="row.open">
        <ul>
          <li>Добавлено: {{(row.date*1000) | date:'HH:mm:ss dd-MM-yyyy'}}</li>            
          <li>Производитель: {{row.maker}}</li>            
          <li>Артикул: {{row.articul}} <button class="btn-articul-search" ng-click="onArticulSearch(rows.articul)"><span class="glyphicon glyphicon-search"></span></button></li>            
          <li>Наименование: {{row.name}}</li>            
          <li>На складе: {{row.count}} шт.</li>            
          <li>Упаковка: {{row.lot_quantity}} шт.</li>            
          <li>Цена: {{row.price}} руб.</li>          
          <li>Срок: от <u>{{row.shiping}} дн.</u></li>            
          <li>Заказано  <input id="sell_count" type="number" step="{{row.lot_quantity}}" min="{{row.lot_quantity}}" max="{{row.count}}" ng-model="row.sell_count"/> шт.</li>            
          <li>Комментарий <input id="comment" type="text" ng-model="row.comment"/></li>            
        </ul>
        <div class="actions">
          <button ng-click="onChange(row)">Изменить
            <span class="wait" ng-show="rows.adding"></span>
            <span class="glyphicon glyphicon-ok" ng-show="rows.added"></span>
            <span class="glyphicon glyphicon-remove" ng-show="rows.error"></span>
          </button>
          <button style="float: right" ng-click="row.open=false">Свернуть</button>
        </div>
      </div>
    </li>
  </ul>  
</div>