<div class="catalog">
  <div class="return">
    <span ng-repeat-start="path in ret_path" ng-click="goTo(path)">
      <u>{{path.name}}</u>
    </span>
    <span ng-repeat-end="" ng-show="!$last">/</span >
    
  </div>
  <ul>
    <li ng-repeat="row in nodes | filter:{is_group:true}" class="group">
      <span ng-click="goTo(row);">{{row.name}}</span>
    </li>
    <li ng-repeat="row in nodes | filter:{is_group:false}" class="item">
      <div class="data-row"> 
        <div style="flex-grow: 1">
          <span style="white-space: nowrap" ng-click="onArticulSearch(row.articul)"></button><u>{{row.articul}}</u></span>
          <span>{{row.maker}}</span>
        </div>
        <div style="flex-grow: 20 ">{{row.name}}</div>      
      </div>
      <div class="data-row subline">
        <span><i>{{row.descr}}</i></span>
      </div>        
    </li>
  </ul>
</div>
