<div class="login-window">
  <ul>
    <li>
      <div class="label">        
        <span>Логин</span>
      </div>
    </li>
    <li>
      <div class="field">        
        <input ng-model="login"/>
      </div>
    </li>
    <li>
      <div class="label">        
        <span>Пароль</span>
      </div>
    </li>
    <li>
      <div class="field">
        <input ng-model="pass"/>
      </div>
    </li>
    <li>
      <div class="label">        
        <label><input type="checkbox" ng-model="reuse"/> Запомнить меня</label>
      </div>
    </li>
  </ul>
</div>

