<div class="parts-view">

  <div class="parts-list"  ng-show="expand===undefined">
    <ul>
      <li ng-repeat="rows in data | orderBy:'name'">
        <span>{{rows.name}}</span>
        <button class="expand-button" ng-click="selectMaker(rows)"><span class="glyphicon glyphicon-chevron-right"></span></button>
        <div class="name-info">
          <span class="a">Цена <u>{{rows.min_price.price}}</u> руб. срок от <u>{{rows.min_price.shiping}} дн.</u> </span>
          <span class="b" ng-show="((rows.min_time.price!==rows.min_price.price) || (rows.min_price.shiping !==rows.min_time.shiping) ) ">Цена <u>{{rows.min_time.price}}</u> руб. срок от <u>{{rows.min_time.shiping}} дн.</u></span>
        </div>
      </li>
    </ul>    
  </div>
  
  <div class="parts-expand"  ng-show="expand!==undefined">
    <ul>
      <li><div ng-click="expand=undefined" class="back"><span class="glyphicon glyphicon-chevron-left icon-back" ></span><span class="brand-name">{{expand.name}}</span><span class="back">Назад</span></div></li>
      <li>
        <div class="parts-control">
          <span ng-click="sortBy('price')">Цена <div ng-show="sort.name='price'"><span class="glyphicon" ng-class="sort.order===1?'glyphicon-triangle-bottom':'glyphicon-triangle-top'"></span></div></span>
          <span>Срок</span>
        </div>
      </li>
      <li ng-repeat="rows in expand.rows | orderBy:'price'">
        <div class="row-head"><span class="articul">{{rows.articul}}</span><!-- span class="name">{{rows.name}}</span--></div>
        <div class="row-info"><span>Цена <u>{{rows.price}}</u> руб. срок от <u>{{rows.shiping}} дн.</u> есть <u>{{rows.count}} шт.</u></span></div>
      </li>
    </ul>    
  </div>
  
</div>
