<div class="parts-view">

  <div class="parts-list"  ng-show="expand===undefined">
    <ul>
      <li ng-repeat="(brand,rows) in data">
        <span>{{brand}}</span>
        <button class="expand-button" ng-click="selectMaker(brand)"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </li>
    </ul>    
  </div>
  
  <div class="parts-expand"  ng-show="expand!==undefined">
    <ul>
      <li>
        <div class="parts-control">
          <span><span class="glyphicon glyphicon-chevron-left"></span>Назад</span>
          <span ng-click="sortBy('price')">Цена <div ng-show="sort.name='price'"><span class="glyphicon" ng-class="sort.order===1?'glyphicon-triangle-bottom':'glyphicon-triangle-top'"></span></div></span>
          <span>Срок</span>
        </div>
      </li>
      <li ng-repeat="rows in data[expand]">
        <div class="row-head"><span class="articul">{{rows.articul}}</span><span class="name">{{rows.name}}</span></div>
        <div class="row-info"><span>Цена <b>{{rows.price}}</b> руб. срок от <b>{{rows.shiping}}</b> дн.</span></div>
        
      </li>
    </ul>    
  </div>
  
</div>
