<div class="basket">
  <h3 ng-show="!isLogin">Просмотр корзины доступен только авторизованным пользователям</h3>
  
  <div>
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">    
      <colgroup>
        <col width="2%"/>
        <col width="2%"/>
        <col width="5%"/>
        <col width="5%"/>
        <col width="20%"/>
        <col width="2%"/>
        <col width="2%"/>
        <col width="2%"/>
        <col width="2%"/>
        <col width="5%"/>
        <col width="2%"/>
      </colgroup>
      <tr ng-repeat="row in $data track by row.id">
        <td data-title="''"                 sortable="'installationAt'">{{row.installationAt}}</td>
        <td data-title="'Добавлено'"        sortable="'date'"         > <span title="{{row.fullDate}}">{{row.date}}</span></td>
        <td data-title="'Артикул'"          sortable="'articul'"      > {{row.articul}}</td>
        <td data-title="'Производитель'"    sortable="'maker'"        > {{row.maker}}</td>
        <td data-title="'Название'"         sortable="'name'"         > {{row.name}}</td>
        <td data-title="'Количество'"       sortable="'sell_count'"   > {{row.sell_count}}</td>
        <td data-title="'Срок'"             sortable="'shiping'"      > {{row.shiping}}</td>
        <td data-title="'Цена'"             sortable="'price'"        > {{row.price}}</td>
        <td data-title="'Сумма'"            sortable="'sum'"          > {{row.price*row.sell_count}}</td>
        <td data-title="'Комментарий'"      sortable="'commnet'"      > {{row.comment}}</td>
        <td data-title="'Действия'"                                   > ---</td>
      </tr>
    </table>
  </div>  
</div>