    <div class="contacts">

<p style="text-align:justify"><span style="font-size:16px">Пензенская компания <a href="/">&laquo;АвтоТехСнаб&raquo;</a> продает автомобильные запчасти для корейских грузовиков <strong>Hyundai</strong>, автобусов <strong>Hyundai </strong>и <strong>Kia</strong>, японских грузовиков <strong>Hino</strong>, <strong>Isuzu</strong>, <strong>Fuso</strong>, <strong>Canter</strong></span></p>

<p style="text-align:justify"><span style="font-size:16px">Проводит компьютерную диагностику <strong>ЭБУ</strong></span></p>

<p style="text-align:justify"><span style="font-size:16px">Осуществляет ремонт <strong>КПП</strong>, редукторов</span></p>

<hr />
<p><span style="font-size:16px">Мы предлагаем нашим клиентам:</span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12px">Оптовую и розничную продажу</span></li>
	<li style="text-align:justify"><span style="font-size:12px">Огромный ассортимент более 100000 наименований запчастей для грузовых автомобилей корейского производства <strong>Hyundai </strong>(HD78, HD65, HD120, HD170, HD72, Porter, Porter ТагАз)</span></li>
	<li style="text-align:justify"><span style="font-size:12px">Более 100000 наименований запчастей для автобусов <strong>Hyundai </strong>(Starex, GrandStarex, County, AeroSpace, AeroTown, Universe), <strong>Kia </strong>(Granbird), <strong>Богдан</strong>, <strong>Isuzu</strong></span></li>
	<li style="text-align:justify"><span style="font-size:12px">Более 100000 наименований запчастей для грузовых автомобилей японского производства<strong> Hino 300</strong>, <strong>Hino 500</strong>, <strong>Isuzu Elf</strong>, <strong>Giga</strong>, <strong>Nqr</strong>, <strong>Nkr</strong>, <strong>Forward</strong>, <strong>Mitsubishi Fuso</strong>, <strong>Canter</strong></span></li>
	<li style="text-align:justify"><span style="font-size:12px">Широкий выбор запчастей для двигателей (N04C-UV, J08E-UR, D4AL, D4DB, D4DD, D4GA, D6DA19, D6DA22, D6BR, D6GA, D6AB, D6AC), топливных систем, КПП и трансмиссии (M6S6, KH10, K505A, M3S5, M035S5, M2S5, T060S5, RT-10, Aisin M550, MYY6S), детали подвески и ходовой части</span></li>
	<li style="text-align:justify"><span style="font-size:12px">Производим компьютерную диагностику <strong>ЭБУ </strong>(блоков управления двигателя, работы двигателя, электрики, прописываем форсунки, диагностика работы турбонагнетателей) корейских грузовых автомобилей <strong>Hyundai </strong>HD65, HD78, HD120, HD170, автобусов <strong>Hyundai County</strong>, <strong>Богдан </strong>с двигателями D4DD, D4GA, D4DB, D6GA а также <strong>Hyundai Porter 2</strong>, <strong>Kia Bongo</strong>, <strong>Hyundai GrandStarex</strong> с двигателями D4CB.</span></li>
	<li style="text-align:justify"><span style="font-size:12px">Производим ремонт механических <strong>КПП Hyundai </strong>HD65, HD78, HD72, HD120, HD78, HD170, автобусов <strong>County</strong>, <strong>Богдан</strong>. Модели КПП грузовых (MO35S5 Dymos, RT-10, M3S3, Harbin, M2S5, M6S6, KH10, T06S6, T06S5, M8S5, M10S6, M12S6), лёгкого коммерческого транспорта <strong>Hyundai Porter</strong>, <strong>Starex</strong>, <strong>GrandStarex</strong>, <strong>Kia Bongo</strong>, (M5TR1, M6AR1, KM135), ремонт мкпп корейских легковых <strong>Kia </strong>и <strong>Hyundai</strong>, японских <strong>Toyota</strong>, <strong>Subaru</strong>, <strong>Mitsubishi</strong>, <strong>Honda</strong>.</span></li>
</ul>

<p><span style="font-size:16px">Также производим ремонт <strong>МКПП </strong>японских грузовиков <strong>Hino 300</strong> (M550), <strong>Hino 500</strong>, <strong>Mitsubishi Canter</strong>, <strong>Fuso</strong>. Используем при ремонте только оригинальные или качественные неоригинальные запчасти и материалы.</span></p>

<ul>
	<li><span style="font-size:12px">Широкий выбор моторных и трансмиссионных масел известных производителей (<strong>Toyota</strong>, <strong>Mitsubishi</strong>, <strong>Castrol</strong>, <strong>Mobil</strong>, <strong>Hyundai</strong>, <strong>Elf</strong>, <strong>Valvoline</strong>, <strong>Zic</strong>), смазочные материалы, а также оригинальные спецжидкости</span></li>
	<li><span style="font-size:12px">Качественные оригинальные и неоригинальные запасные части на собственном складе в г. Пенза</span></li>
	<li><span style="font-size:12px">Мы сотрудничаем с более 30 поставщиками из России, Европы, ОАЭ, Японии</span></li>
	<li><span style="font-size:12px">Сертификаты качества и гарантия на поставляемую продукцию</span></li>
</ul>

<hr />
<p><span style="font-size:16px">Персональное обслуживание и сервис:</span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12px">Каждый клиент получает персонального менеджера, который занимается всем процессом от получения заявки до выдачи заказа клиенту </span></li>
	<li style="text-align:justify"><span style="font-size:12px">Интернет-магазин atc58.ru предоставляет удобный online-сервис для клиентов: каталог запчастей для грузовых Hyundai, Hino, Fuso, Isuzu, заказ запчастей, покупка и отслеживание заказа </span></li>
	<li style="text-align:justify"><span style="font-size:12px">Максимальная помощь в подборе запчастей, расходных материалов, масел, смазок и спецжидкостей, инструмента, сервиса.</span></li>
	<li style="text-align:justify"><span style="font-size:12px">Отличные условия сотрудничества для владельцев автопарков, АТП и предприятий Пензенской, Ульяновской, Саратовской областей и республики Мордовия </span></li>
	<li style="text-align:justify"><span style="font-size:12px">Автопомощь на территории всей Пензенской области (запчасти, поиск сервиса и ремонта)</span></li>
</ul>

<hr />
<p><span style="font-size:16px">Доставка и оплата: </span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12px">Быстрая курьерская доставка запчастей по Пензе и Пензенской области (Сердобск, Каменка, Русский Камешкир, Городище, Башмаково, Тамала, Колышлей, Белинский, Вадинск, Заметчино, Лунино, Нижний Ломов, Пачелма, Наровчат, Неверкино, Никольск, Исса, Грабово, Сосновоборск, Лопатино, Малая Сердоба, Беково, Кузнецк); Саратовской области (Саратов, Петровск, Ртищево), Республика Мордовия (Саранск, Рузавевка)</span></li>
	<li style="text-align:justify"><span style="font-size:12px">Отправка транспортными компаниями, автобусами, маршрутными такси по России</span></li>
	<li style="text-align:justify"><span style="font-size:12px">Наш курьер доставит товар, приобретённый в интернет-магазине запчастей компании АвтоТехСнаб, быстро и в указанное вами место</span></li>
	<li style="text-align:justify"><span style="font-size:12px">При отсутствии требуемой запчасти. Заказ и поставка запчастей осуществляем в максимально сжатые сроки, от 24 часов</span></li>
	<li style="text-align:justify"><span style="font-size:12px">Удобная система оплаты для клиента наличными, картой (Visa, MasterCard, Сбербанк, ВТБ24) или безналичный расчёт</span></li>
</ul>

<p style="text-align:center"><u><strong><span style="font-size:16px">Наши контакты: </span></strong></u></p>

<p style="text-align:center"><span style="font-size:16px">г. Пенза, ул. Кустанайская, 1Б </span></p>

<p style="text-align:center"><span style="font-size:16px"><strong>тел</strong>. +7 (8412) 763-533 </span></p>

<p style="text-align:center"><span style="font-size:16px"><strong>тел</strong>. +7 (8412) 518-302 </span></p>

<p style="text-align:center"><span style="font-size:16px"><strong>e-mail</strong>: sales@atc58.ru </span></p>

<p style="text-align:center"><span style="font-size:16px"><strong>viber</strong>: +79022063533 </span></p>

<p style="text-align:center"><span style="font-size:16px"><strong>skype</strong>: atc_58</span></p>

  
    </div>
