    <div class="contacts">

<p>Пензенская компания <a href="http://atc58.ru/"><u>&laquo;АвтоТехСнаб&raquo;</u></a>&nbsp;предлагает своим клиентам:</p>

<ul>
	<li>Оптовую и розничную продажу запасных частей для иномарок, моторных и трансмиссионных масел, расходных материалов</li>
	<li>Огромный ассортимент в наличии на складе г. Пенза, а также на заказ более 10&nbsp;000 наименований запчастей для грузовых автомобилей корейского производства <strong>Hyundai </strong>(HD78, HD65, HD120, HD170, HD72, Porter, Porter ТагАз), микроавтобусов&nbsp;<strong>Hyundai </strong>(Starex, GrandStarex, County, AeroSpace, AeroTown, Universe), <strong>Kia </strong>(Granbird), <strong>Богдан</strong>, <strong>Isuzu</strong><strong>, </strong><strong>а</strong><strong>&nbsp;также </strong>&nbsp;для грузовых автомобилей японского производства<strong>&nbsp;Hino 300</strong>, <strong>Hino 500</strong>, <strong>Isuzu Elf</strong>, <strong>Giga</strong>, <strong>Nqr</strong>, <strong>Nkr</strong>, <strong>Forward</strong>, <strong>Mitsubishi Fuso</strong>, <strong>Canter</strong></li>
	<li>Широкий выбор запчастей для двигателей (N04C-UV, J08E-UR, D4AL, D4DB, D4DD, D4GA, D6DA19, D6DA22, D6BR, D6GA, D6AB, D6AC), топливных систем, КПП и трансмиссии (M6S6, KH10, K505A, M3S5, M035S5, M2S5, T060S5, RT-10, Aisin M550, MYY6S),</li>
	<li>Детали подвески и ходовой части</li>
	<li>Производим компьютерную диагностику <strong>ЭБУ </strong>(блоков управления двигателя, работы двигателя, электрики), прописываем форсунки&nbsp;и диагностируем работу турбонагнетателей корейских грузовых автомобилей <strong>Hyundai </strong>HD65, HD78, HD120, HD170, автобусов <strong>Hyundai County</strong>, <strong>Богдан </strong>с двигателями D4DD, D4GA, D4DB, D6GA а также <strong>Hyundai Porter 2</strong>, <strong>Kia Bongo</strong>, <strong>Hyundai GrandStarex</strong>&nbsp;с двигателями D4CB.</li>
	<li>Производим ремонт механических <strong>КПП Hyundai </strong>&nbsp;HD65, HD78, HD72, HD120, HD78, HD170, автобусов <strong>County</strong>, <strong>Богдан</strong>. Модели КПП грузовых (MO35S5 Dymos, RT-10, M3S3, Harbin, M2S5, M6S6, KH10, T06S6, T06S5, M8S5, M10S6, M12S6), лёгкого коммерческого транспорта <strong>Hyundai Porter</strong>, <strong>Starex</strong>, <strong>GrandStarex</strong>, <strong>Kia Bongo</strong>, (M5TR1, M6AR1, KM135), ремонт мкпп корейских легковых <strong>Kia </strong>и <strong>Hyundai</strong>, японских <strong>Toyota</strong>, <strong>Subaru</strong>, <strong>Mitsubishi</strong>, <strong>Honda</strong>.</li>
	<li>Ремонт и обслуживание вариаторов (<strong>CVT</strong>) различных марок <strong>Jatco</strong>&nbsp;(RE0F10, F1CJA / W1CJA, FK0 / FK8, CVT2 / CVT2M), &nbsp;Aisin&nbsp;(K310, K311, K312, K110, K111, K112, K410, XA-10LN, XA-15LN), автоматических коробок передач (<strong>АКПП</strong>), а так же роботов. При ремонте и обслуживании используем только оригинальные или качественные неоригинальные запасные части и смазочные материалы.</li>
	<li>Комплексная&nbsp;диагностика АКПП, вариаторов, роботов. Диагностика включает несколько этапов:
	<ul>
		<li>компьютерная диагностика и систем управления акпп, варитора, робота;</li>
		<li>тест-драйв автомобиля с неисправной акпп, вариатором, роботом;</li>
		<li>Анализ поломок, расчет сметы по ремонту укпп, вариатора, робота;</li>
		<li>Согласование сметы и работ по ремонту &nbsp;&nbsp;&nbsp;</li>
	</ul>
	</li>
</ul>

<hr />
<p>При отсутствии требуемой запчасти. Заказ и поставка запчастей осуществляем в максимально сжатые сроки, от 24 часов</p>

<p>Для наших покупателей мы можем предложить:</p>

<ul>
	<li>Широкий выбор моторных и трансмиссионных масел известных производителей (<strong>Toyota</strong>, <strong>Mitsubishi</strong>, <strong>Castrol</strong>, <strong>Mobil</strong>, <strong>Hyundai</strong>, <strong>Elf</strong>, <strong>Valvoline</strong>, <strong>Zic</strong>), смазочные материалы, а также оригинальные спецжидкости</li>
	<li>Качественные оригинальные и неоригинальные запасные части на собственном складе в г. Пенза</li>
	<li>Мы сотрудничаем с более 30 поставщиками из России, Европы, ОАЭ, Японии</li>
	<li>Сертификаты качества и гарантия на поставляемую продукцию</li>
</ul>

<hr />
<p>Персональное обслуживание и сервис:</p>

<ul>
	<li>Каждый клиент получает персонального менеджера, который занимается всем процессом от получения заявки до выдачи заказа клиенту</li>
	<li>Интернет-магазин atc58.ru предоставляет удобный online-сервис для клиентов: каталог запчастей для грузовых Hyundai, Hino, Fuso, Isuzu, заказ запчастей, покупка и отслеживание заказа</li>
	<li>Максимальная помощь в подборе запчастей, расходных материалов, масел, смазок и спецжидкостей, инструмента, сервиса.</li>
	<li>Отличные условия сотрудничества для владельцев автопарков, АТП и предприятий Пензенской, Ульяновской, Саратовской областей и республики Мордовия</li>
</ul>

<hr />
<p>Доставка и оплата:</p>

<ul>
	<li>Мы осуществляем курьерскую доставку запчастей по Пензе и Пензенской области (Сердобск, Каменка, Русский Камешкир, Городище, Башмаково, Тамала, Колышлей, Белинский, Вадинск, Заметчино, Лунино, Нижний Ломов, Пачелма, Наровчат, Неверкино, Никольск, Исса, Грабово, Сосновоборск, Лопатино, Малая Сердоба, Беково, Кузнецк); Саратовской области (Саратов, Петровск, Ртищево), Республика Мордовия (Саранск, Рузавевка). Наш курьер доставит товар, приобретённый в интернет-магазине запчастей компании АвтоТехСнаб, быстро и в указанное Вами место</li>
	<li>Отправляем транспортными компаниями (ПЭК, Энергия, Деловые Линии) по России, междугородними автобусами и маршрутными такси по Поволжью.</li>
	<li>Удобная система оплаты для клиента наличными, картой (Visa, MasterCard, Сбербанк, ВТБ24) или безналичный расчёт</li>
</ul>

<div class="cont-text">
<p style="text-align:center"><u><strong><span style="font-size:16px">Наши контакты: </span></strong></u></p>

<p style="text-align:center"><span style="font-size:16px">г. Пенза, ул. Кустанайская, 1Б </span></p>

<p style="text-align:center"><span style="font-size:16px"><strong>тел</strong>. +7 (8412) 763-533 </span></p>

<p style="text-align:center"><span style="font-size:16px"><strong>тел</strong>. +7 (8412) 518-302 </span></p>

<p style="text-align:center"><span style="font-size:16px"><strong>e-mail</strong>: sales@atc58.ru </span></p>

<p style="text-align:center"><span style="font-size:16px"><strong>viber</strong>: +79022063533 </span></p>

<p style="text-align:center"><span style="font-size:16px"><strong>skype</strong>: atc_58</span></p>
</div>
<div class="cont-map">
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac6873fdc614a7f5351bb7c78f884b7e26c6f86052838f493335e2eb5abc8fc20&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
</div>
    </p>
    </div> 