<div class="orders">
  <h5 ng-show="!isLogin">Просмотр заказов доступен только авторизованным пользователям</h5>
  <h5 ng-show="isLogin">Заказы:</h5>
  <div>
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">    
      <colgroup>        
        <col width="6%"/>
        <col width="6%"/>
        <col width="6%"/>
        <col width="6%"/>
        <col width="40%"/>
        <col width="6%"/>
        <col width="6%"/>
        <col width="6%"/>
        <col width="6%"/>
        <col width="6%"/>
      </colgroup>
      <tr class="ng-table-group" ng-repeat-start="group in $groups">
          <td colspan="10">
            <a href="" ng-click="group.$hideRows = !group.$hideRows">
              <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
              <strong>{{ group.value }}</strong>
            </a>
          </td>          
        </tr>
      <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end ng-show="!row.hide" ng-class="{'selected':(row.selected)}">        
        <td data-title="'Добавлено'"        sortable="'date'"           > <span title="{{row.date | date:'dd/MM/yyyy HH:mm'}}">{{row.date | date:'dd/MM/yyyy'}}</span></td>
        <td data-title="'Ожидание'"         sortable="'shiping'"        > <span>{{row.wit_time | date:'dd/MM/yyyy'}}</span></td>
        <td data-title="'Статус'"           sortable="'part_status_id'" > {{row.part_status}} </td>
        <td data-title="'Корзина'"          sortable="'basket_name'"    > {{row.basket_name}} </td>
        <td data-title="'Деталь'"           > {{row.articul}} - {{row.maker}} - {{row.name}}</td>        
        <td data-title="'Количество'"       sortable="'sell_count'"   > {{row.sell_count}}</td>
        <td data-title="'Цена'"             sortable="'price'"        > {{row.price | number:2}}</td>
        <td data-title="'Сумма'"            sortable="'sum'"          > {{row.price*row.sell_count | number:2}}</td>
        <td data-title="'Комментарий'"      sortable="'commnet'"      > {{row.comment}}</td>
        
        <td data-title="'Действия'"                                   >           
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-icon" title="Удалить"  ng-show="row.part_status_id<2"     ng-click="delete(row);"> <span class="glyphicon glyphicon-erase"></span> </button>            
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="row-line" style="text-align: center;" ng-show="selected">
    <button class="btn btn-info" ng-click="makeOrder($data)">Заказать {{selected}} позиций(-ю)</button>
  </div>
</div>