<div class="parts-out">
  <div class="breadcrumb">
    <span>Поиск</span>
    <span>{{searchText}}</span>
    <span><a href="/brands/{{searchText}}/{{timestamp}}">Производители</a></span>
    <span>{{brand}}</span>
  </div>
  <div ng-if="inSearch" class="in-search"></div>    
  <div ng-if="!inSearch" class="count">Варианты деталей по запросу "<b>{{searchText}}</b>" от производителя <b>{{brand}}</b>:</div>   
  <div class="actions"><a href="#" ng-click="onCollapse()"><span class="glyphicon glyphicon-minus-sign"></span>Свернуть все</a><a href="#" ng-click="onExpand()"><span class="glyphicon glyphicon-plus-sign"></span>Развернуть все</a></div>
  
  <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">    
    <colgroup>
      <col width="10%"/>
      <col width="15%"/>
      <col width="40%"/>
      <col width="8%"/>
      <col width="8%"/>
      <col width="8%"/>
      <col width="8%"/>
    </colgroup>
        <tr class="ng-table-group" ng-repeat-start="group in $groups | partOut:brand:true">
          <td colspan="7">
            <a href="" ng-click="group.$hideRows = !group.$hideRows">
              <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
              <strong>{{ group.value }}</strong>
            </a>
          </td>          
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end 
            ng-class="(row.stdArticul===articulCmp)? 'original' :''" ng-text="{{articulCmp}}" ng-text1="{{row.stdArticul}}">  
          <td data-title="'Производитель'" sortable="'maker'">{{row.maker}}</td>
          <td data-title="'Артикул'" sortable="'articul'">{{row.articul}}</td>
          <td data-title="'Наименование'" class="name"><span title='{{row.name}}'><u ng-show="isAdmin">{{row.prvd}} : {{row.stock}}</u>{{row.name}}</span></td>
          <td data-title="'Цена [' + markupName + ']'" sortable="'viewPrice'"><span title="{{row.price}}">{{row.viewPrice}}</span></td>
          <td data-title="'Срок'" sortable="'shiping'">{{row.shiping}}</td>
          <td data-title="'Наличие'" sortable="'count'">{{row.count}}<div class="lot-quantity" title="Минимальное количество для заказа" ng-show="(row.lot_quantity>1)"><span class="glyphicon glyphicon-th-large"></span>{{row.lot_quantity}}</div> </td>
          <td data-title="'В корзину'">
            <a href='#' ng-click="Add(row.key)" ng-show="isLogin&&!row.adding&&!row.error">Добавить</a>
            <span class="load-info" ng-show="row.adding"></span>
          </td>
        </tr>
      </table>
</div>
