<div class="search-line">
  <input type="text" id="search-text" placeholder="Номер детали или её описание" ng-model="text"/>
  <div class="search-icons">
    <ul>
      <li><button id="search-sub">    <span class="glyphicon glyphicon-download"></span>  </button></li>
      <li><button id="search-cars">   <span class="glyphicon cars"></span>                </button></li>
      <li><button id="search-cfg">    <span class="glyphicon glyphicon-cog"></span>       </button></li>
      <li><button id="search-request"><span class="glyphicon glyphicon-search"></span>    </button></li>
    </ul>
  </div>  
</div>