<div class="brands-out">
  <div class="breadcrumb">
    <span>Поиск</span>
    <span>{{searchText}}</span>
    <span>Производители</span>
  </div>
  <div ng-if="inSearch" class="in-search"></div>    
  <div ng-if="!inSearch&&!count" class="count">Вариантов по запросу "<b>{{searchText}}</b>" не найдено</div>
  <div ng-if="!inSearch&&count" class="count">Для запроса "<b>{{searchText}}</b>" найдено производителей: <b>{{count}}</b></div>
  <div ng-repeat="(brand,data) in brands track by $index" class="brand">
    <a href="/parts/{{searchText}}/{{timestamp}}/{{brand}}">{{brand}}</a>
  </div>
</div>