<div class="search-line">
  <input type="text" id="search-text" placeholder="Номер детали или её описание" ng-model="text"/>
  <div class="search-icons">
    <ul>
      <li><button id="search-sub">    <span class="glyphicon glyphicon-download"></span>  </button></li>
      <li><button id="search-cars">   <span class="glyphicon cars"></span>                </button></li>
      <li><button id="search-cfg">    <span class="glyphicon glyphicon-cog"></span>       </button></li>
      <li><button id="search-request"><span class="glyphicon glyphicon-search"></span>    </button></li>
    </ul>
  </div>  
</div>
<!--
<div class="input-helper">
  <div class="input-group">
    <input ng-model="data.inputValue" type="text" class="input-input" ng-class="{{inputClass}}" placeholder="{{placeholder}}" ng-change="change()" ng-click="toggle()"/>    
    <span class="input-group-btn">
      <button class="btn btn-atc">Искать</button>
    </span>
  </div>
  <div class="btn-group">
    <span class="icon glyphicon glyphicon-cog"  ng-click="toggle();"></span>      
    <span ng-if="!visible && (count>0)" class="icon glyphicon glyphicon-download" ng-click="toggle();"></span>  
    <span ng-if="visible && (count>0)" class="icon glyphicon glyphicon-upload"  ng-click="toggle();"></span>  
  </div>
  <ul class="input-select-helper" ng-show="visible">
    <li ng-if="count !== 0" style="text-align:center;">
      <input type="text" class="search-filter form-control" ng-model="data.filters" ng-change="subfilter()" placeholder="Найти в списке"/>      
      <span> Всего вариантов {{count}} </span>
    </li>
    <li ng-if="count === 0"> 
      <strong>Вариантов не найдено</strong>
    </li>
    <li ng-repeat="item in list" inject></li> 
  </ul>  
</div>-->