div.group-info{
  padding: 5px;
  
  .row-line{
    width: 100%;
    min-height:   10px;
    line-height:  12px;
    margin-top:   5px;
    font-size:    0.75em;
    float:none;
    position: relative;
    
    & > span.head{
      font-weight: bold;
      width: 20%;
      display: block;
      @include no-select();
    }
    
    & > span {
      width: 70%;
      float:left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: default;
    }
    
  }
  
  div.hsplit{
    width: 100%;
    height: 2px;
    padding: 2px 0  ;
    border:none;
    border-bottom: 2px solid black;
  }
  
/*  & > .row-line:first-child{
    margin-top: 0;
  }
  
  & > .row-line {
    width: 100%;
    min-height: 24px;
    line-height: 24px;
    margin-top: 5px;
    position: relative;
    
    a{
      color: $atc_color;
      text-decoration: none;    
      line-height: 0.75rem;
      font-size: 0.75rem;
      font-weight: bold;
      border-bottom: 1px dashed $atc_color;
    }
    
    & > a {
      margin: 0 5px;
      top: -5px;
    }
    
    & > label.title{
      width: 100%;
      color: $input_color;
      padding: 0;
      margin: 0;
      text-align: center;
      background-color: transparent;
      font-size: 0.85rem;
      font-weight: bold;
      
      @include no-select();
    }
    
    & > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      font-size: 0.75rem;
      word-break: keep-all;
      word-wrap: normal;
      overflow-y: no-display;
      cursor: pointer;
      
      @include no-select();
      
      & >li {        
        padding: 0 5px;
        border-radius: 5px;
        
        &:hover {
          background-color: #FFF;
        }
      }
    }
  }*/
  
  & > .tree-view {
    padding: 5px 0 0;
  }
}

