.contacts{
  padding: 20px;
  a{
    color: black;
    text-decoration: underline;
    
    &:active{
      color:  black;
    }
  }
  .cont-text{
    float: left;
    width: 50%;
  }
  .cont-map{
    float: right;
    width: 50%;
  }
}

