.info{
  background-color: transparent;
  
  top: 0px;
  right: 0px;
  width: 100%;   
  height: $info_height;
  
  padding: 0;
  line-height: $info_height;    
  
  border-left: 2px solid $menu_border;
  
  text-align:center; 
  display: inline-block;
  position: absolute;  
  
  & > div.header-up {
      top: 0;
      left: -2px;
      width: 25%;
      height: $info_height;
      
      background-color: $main_color;
      position: absolute;
      display: inline-block;
      
      & div{
        height: 100%;
        border-left: $info_height solid transparent; 
        border-top: $info_height+11px solid $bg_color; 
        vertical-align: top;        
        display: inline-block; 
        float:right;
      }
    }
    
  & > div.text-info{
    color: $info_text_color;
    left: 25%;
    width: 75%;
    display: flex;    
    position: absolute;
    height: 22px;
    flex-flow: row nowrap;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
    
    
    & > span {      
      margin: 0;
      padding: 0 10px;    
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      //font-family: Geneva, Arial, Helvetica, sans-serif;;
      font-size: 0.9em;
      text-align: left;        
      font-weight: bolder;    
      overflow: hidden;
      display: inline-flex;      
      pointer-events: auto; 
      flex-grow: 1;
      flex-shrink: 0;

      & > a{
        color: $info_text_color;
      }

      & > img{
        top: 3px;
        height: 15px;
        padding: 0 5px;
        position: relative;
      }
      
    }
  }
}