/* 
    Created on : 19.10.2015, 19.10.2015 10:08:57
    Author     : sync1983
*/

div.sinput{  
  height: $input_height + 4px;
  //margin: 10px 0;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 0px $menu_border;
  
  &.active{
    box-shadow: 0px 0px 8px 2px $input_active_color; 
  }
  
  
  & > input {
    top: 4 - $input_height; 
    width: 100%;
    height: $input_height;
    
    padding: 0 7px;
    
    font-size: 0.7em;
    font-weight: bold;
    color: $input_color;
    
    outline: 0;
    line-height: $input_height;
    border: none;
    
    position: relative;
    
    
  }
  
}
    @include placeholder("input.sinput") {      
      color: $input_placeholder_color;
      font-weight:normal;
    }