/* 
    Created on : 09.11.2015, 09.11.2015 12:51:52
    Author     : sync1983
*/

.notification-item{
  font-size: 0.8em;
  
  width: 99%;
  height: 2em;
  line-height: 2em;  
  text-align: center;  
  overflow: hidden;
  border-radius: 1em;
  box-shadow: inset -2px 0px 3px black;
  text-shadow: 0 0 1px black;
  animation: add 0.5s cubic-bezier(.64,.01,0,.99) none;
  animation-delay: 0  ;    
  animation-iteration-count: 1;
  
  span.header{
    font-weight: bold;
    display: block;
    cursor: pointer;
  }  
  
}

@keyframes add {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

