div.head-logo{
  top: 7px;
  left: 1%;
  height: 80px;
  max-width: 19%;
  background-color: transparent;
  display: block;
  position: absolute;  
  & img{
    height: $sb_height + $info_height -2px;
    max-width: 100%;
  }
  z-index: 2;
}

.search-bar{
  background: linear-gradient(to bottom,$main_color 10%,($main_color - #101010) 49%,$main_color 90%);    
  
  top: $info_height;   
  left:0;
  width: $width;
  height: 6%;
  max-height: $sb_height;
  
  margin: 0 0;
  line-height: 40px;
  
  vertical-align: bottom;
  position: absolute;   
  
}