.search-line{
  top: 10px;
  left: 20%;
  width: 60%;
  height: 42px;
  border-radius: 10px 10px;
  border: 2px $atc_color solid;  
  background-color: #FFF;
  position:relative;  
  
  & > input {
    width: 100%;
    height: 36px;
    width: 100%;
    padding: 0 10px;
    border-radius: 10px 10px;    
    border: none;
    
    &:focus {
      border: none;
      outline: none;
    }
    
  }
  
  @include placeholder('input') {      
    color: $input_placeholder_color;
    font-weight:normal;
  }
  
  & > .search-icons {
    top: 0px;    
    right: 0;
    height: 40px;
    line-height: 40px;
    
    display: block;
    position: absolute;
    z-index: 3;
    
    & > ul{      
      display: inline-block;
      
      & > li{
        display: inline;
        
        & > button {
          line-height: 40px;
          height: 40px;
          background: none;
          border:none;
          opacity: 0.3;
          outline: none;
          color: $atc_color;          
          
          &:hover{
            opacity: 1;            
          }
          &:active:not(:-moz-handler-blocked) {
            position: relative;  
            left: -1px;
          }
        }
      }
    }
  }
  
}
