.dropdown-helper{   
  background-color: #FFF;
  margin-top: -2px;
  padding: 5px;
  
  border: 2px solid #0C557F;
  border-radius: 10px;
  
  display: none; 
  position: absolute;
  z-index: 1;
  
  .searh-history{
    padding: 5px 10px;
    width: 100%;
    height: 27px;
    line-height: 17px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    text-overflow: ellipsis;
    overflow: hidden;
    
    & > span.header{
      color:black;
      font-weight: bold;
      border: none;
      margin: 0;
    }
    
    & > span {
      color: blue;
      border-bottom: 1px dashed blue;
      margin: 0 10px;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
    }
  }
  
  .search-helper{
    max-height: 400px;
    overflow-y: auto;
    padding: 5px 20px;
    
    .row-line{
      width: 100%;
      line-height: 0.8rem;
      border-radius: 5px;
      font-size: 0.75em;   
      
      .header{
        color:black;
        font-weight: bold;
        border: none;
        margin: 0;
        padding: 0 10px;
      }

      .search-articul{
        border:none;
        border-bottom: 1px dashed blue;
        padding: 0 0;      
        cursor: pointer;
      }

      div {
        min-width: 100px;
        display: inline-block;
        line-height: 0.8rem;        
      }

      div.info-item{      
        top: 2px;
        width: 0.75rem;
        height: 0.75rem;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        background: url('/img/info_icon.png') no-repeat;
        min-width: auto;
        background-size: 0.75rem 0.75rem;      
        position: relative;
          
        &:hover {        
          background-color: #88C4FF;
          border-radius: 0.85rem;
        }
      }
    }
    
    .row-line:hover{
      background-color: #DDD;
    }
    
    
    
  }
}