.window{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E0DDDD;
  border-radius: 10px;
  border: 1px solid $menu_border;
  box-shadow: inset 0px 0px 4px 0px #1A4D60;
  position: absolute;
  
  & .header{
    top: 0;
    width: 60%;
    left: 20%;
    min-height: 20px;
    color: #E5F7FF;
    background: linear-gradient(#054368 0%,#1599E6 40%,#097CBF 60%, #054368 100%);
    border-radius: 0 0 15px 15px;
    text-align: center;
    font-family: "Georgia";
    font-size: 0.75em;    
    box-shadow: 0px 0px 3px 0px #054368;
    font-weight: bold;
    
    position: absolute;
  }
  
  & > .content{
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    overflow-y: auto;
    position: absolute;
    
  }
  
    &> .content::-webkit-scrollbar {
      width: 0.7em;
      right: 2px;
    }
 
    &> .content::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(12,85,124,0.3);
    }
 
    &> .content::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border: 1px solid slategrey;
      border-radius: 5px;
    }
}
