$mml_line_height: 36px;

.main-menu-left{ 
  background-color: $main_color;
  
  top: 60px + $info_height;
  width: $menu_left_width;
  left:  (100% - $menu_left_width) /2 ;
  height: $mml_line_height;
  line-height: $mml_line_height;
  margin: auto 0;
  //bottom: 5px;
    
  border-top: 1px solid $menu_border;  
  border-radius: 0 0 15px 15px;
  
  position: absolute;
  display: inline-block;
  
  & > .menu-line {
    top: 0;
    height: $mml_line_height;
    width: 100%;
    padding: 0 20px;
    text-align: justify;
    position: absolute;
    
    & > li {      
      color: $menu_color;
      line-height: $mml_line_height;
      min-width: 14%;
      
      text-transform: uppercase;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size:  1.1em;
      font-stretch: expanded;
      font-weight: bold;
      
      text-shadow: 0 0 3px #000;
      text-align: center;
      
      display: inline-block;
      position:relative;
      
      & > a{
        color:$menu_color;
        text-decoration: none;
        //No select
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;    
      }
      
      &.helper{
        width: 100%;
        height: 0;
        visibility: hidden;
      }
      
      & > div.divider{
        top: 4px;
        width: 1px;
        height: $mml_line_height - 8px;
        float: left;
        box-shadow: 0px 0px 3px 0px #484848;    
        background-color: #1A4D60;
        transform: skew(30deg);       
        position: relative;
      }
      
      &:first-child > div.divider{        
        display: none;        
      }
    }
    
  }
  
  
  
  /*& ul {    
    color: $menu_color;
    
    width: 100%; 
    padding: 0;
    line-height: 35px;
    
    text-align: right;
    list-style: none;
    
    
    
    text-transform: initial;
    cursor: default;        
    
    &:first-child{      
      
      color: $menu_iacolor;
      padding: 30px 0 0 0 ;    
      position: relative;      
      
      & > li {
        text-align: right !important;
        text-shadow: none;
        text-transform: uppercase;
        width: 100%;
        padding: 5px 0px;
        text-align: left;
        vertical-align: middle;
        border-top: 1px solid $menu_border;         
        
        &:first-child{
          border-top: none;          
        }
        
        &:hover {
          background-color: $main_color;
          cursor: default;
        }
        
        &:before{
          content: "";
        }
        
        & > span {
          width: 100%;
          padding: 0 40px 0 0;
          display:block;
          
          &:after {
            top: 3px;
            left: 15px;

            color: $menu_iacolor;

            content: '\E114';
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;

            position: relative;          
            display: inline-block;
          }
        }
      }
    }        
    
    & > li {
      padding: 0 10px 0 0px;      
      text-shadow: 0 0 2px black;
      
      & > span {
        padding: 0 30px;
      }
      
      &:hover {
        background-color: $menu_active_bg;
        cursor: pointer;
      }
      
      &:before{
        color: $menu_color;
        //left: 10px;
        right: 20px;
        //content: '\2BB1';
        position: absolute;
      }
      
      &.active{
        background-color: $menu_active_bg;
        &:after{
          color: #FFF; 
          right: -2px; 
          content: '\1F780';
          text-shadow: -1px 0 1px $menu_border;
          position: absolute;
        }
      }      
    }
  }*/
  
}