.main-menu-left{ 
  background-color: $main_color;
  
  top: 60px + $info_height;
  left: 0;
  width: $menu_left_width;
  bottom: 5px;
  
  
  border-top: 1px solid $menu_border;
  border-right: 1px solid $menu_border;
  border-left: 2px solid $menu_border;
  
  position: absolute;
  
  & ul {    
    color: $menu_color;
    
    width: 100%; 
    padding: 0;
    line-height: 35px;
    
    text-align: right;
    list-style: none;
    
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size:1.1em;
    font-stretch: expanded;
    font-weight: bold;
    
    text-transform: initial;
    cursor: default;        
    
    &:first-child{      
      
      color: $menu_iacolor;
      padding: 30px 0 0 0 ;    
      position: relative;      
      
      & > li {
        text-align: right !important;
        text-shadow: none;
        text-transform: uppercase;
        width: 100%;
        padding: 5px 0px;
        text-align: left;
        vertical-align: middle;
        border-top: 1px solid $menu_border;         
        
        &:first-child{
          border-top: none;          
        }
        
        &:hover {
          background-color: $main_color;
          cursor: default;
        }
        
        &:before{
          content: "";
        }
        
        & > span {
          width: 100%;
          padding: 0 40px 0 0;
          display:block;
          
          &:after {
            top: 3px;
            left: 15px;

            color: $menu_iacolor;

            content: '\E114';
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;

            position: relative;          
            display: inline-block;
          }
        }
      }
    }        
    
    & > li {
      padding: 0 10px 0 0px;      
      text-shadow: 0 0 2px black;
      
      & > span {
        padding: 0 30px;
      }
      
      &:hover {
        background-color: $menu_active_bg;
        cursor: pointer;
      }
      
      &:before{
        color: $menu_color;
        //left: 10px;
        right: 20px;
        //content: '\2BB1';
        position: absolute;
      }
      
      &.active{
        background-color: $menu_active_bg;
        &:after{
          color: #FFF; 
          right: -2px; 
          content: '\1F780';
          text-shadow: -1px 0 1px $menu_border;
          position: absolute;
        }
      }      
    }
  }
  
}