$xs: 20rem;
$sm: 34rem;
$md: 48rem;
$lg: 62rem;
$xl: 75rem;
//    Size part
$gold_slice: 1.618;
$info_height: 22px;
$sb_height: 60px;
$mml_line_height: 36px;
$menu_left_width: 80%;
//    Input part
$input_height:  18px; 
$input_color:   #1A4D60;
$input_placeholder_color: #A8C5CF;
$input_active_color: #053040;
//    Color part
$bg_color:        #292929;
$main_color:      #B5B5B5;
$info_text_color: #C7C7C7; 

$menu_iacolor:    #40819A;
$menu_color:      #FFFFFF;
$menu_border:     #1A4D60;
$menu_active_bg:  #365161;

$atc_color:       #0C557F;
$view_color:      #E0E0E0;

//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=cyrillic);


/*
$bg_color:        #1A4D60;
$main_color:      #6891A1;
$info_text_color: #ECE862;

$menu_iacolor:    #1A4D60;
$menu_color:      #A8C5CF;
$menu_border:     #1A4D60;
$menu_active_bg:  #365161;

$atc_color:       #0C557F;


/**/
/*$bg_color: #495266;//#2F4654;
$info_color: #ECE862;
$menu_color: #FFF7E5;//#9CE9F3; 
$menu_border: #476171;
$main_color: #8F9AB2 ;//#4A80A0;
//$yellow_color: #F5D909;
$atc_color: #0C557F; 
/**/

@mixin media-style($attr,$size-map, $default:null){  
  
  @if (type-of($attr) == 'list'){
    @each $attr-name in $attr{
      @if ($default != null){
        #{$attr-name}: $default;
      }      
    }
    
    @each $size,$value in $size-map{    
      @media screen and (min-width: $size){
        @each $attr-name in $attr{
          #{$attr-name}: $value;    
        }
      }
    }
  }
  
  @if (type-of($attr) == 'string'){
    @if ($default != null){
      #{$attr}: $default;
    }    
    @each $size,$value in $size-map{
      @media screen and (min-width: $size){        
        #{$attr} : $value;
      }
    }
  }  
}

@mixin placeholder($name) {
  #{$name}::-webkit-input-placeholder {@content}
  #{$name}:-moz-placeholder           {@content}
  #{$name}::-moz-placeholder          {@content}
  #{$name}:-ms-input-placeholder      {@content}  
}

@mixin no-select(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
