/* 
    Created on : 09.09.2015, 09.09.2015 19:50:44
    Author     : sync1983
*/

@import "variable.scss";
 
$width: 98%; 
 
html, body{
  background-color: $bg_color;  
  height: 100%;    
}

.wrap {
    width: $width;    
    height: auto;
    margin: 0 auto -130px;    
    
    & > .container-fluid{
      padding: 0;
      width: 100%;
      margin: 130px auto 0;
      background-color: #FFF;
    }
}

.head{  
    top: 22px;
    left: 2%;    
    height: 60px;
    line-height: 60px;    
    background-color: transparent;
    padding: 0;
    margin: 0 0;    
    position: absolute;
    z-index: 1;
    
    & > .head-logo{
      top:-15px;
      height: 80px;
      display: block;
      position: relative;
      margin: 0 5px;
      float:left;
      
      &>img{
        height: 80px;        
      }
    }
}

.info{
  top: 0px;
  right: 0px;
  width: 100%;   
  color: $info_color;
  padding: 0;
  height: 20px;
  text-align:center;  
  background-color: transparent;
  z-index: 2;
  position: absolute;  
  pointer-events: none;
  
  & > p {
    width: 80%;
    left: 20%;
    line-height: 20px;    
    position: relative;
    
    & > span {
      width: 24%;
      max-width: 300px;
      margin: 0;
      padding: 0 10px;    
      font-family: Geneva, Arial, Helvetica, sans-serif;;
      font-size: 0.9em;
      text-align: left;  
      vertical-align: middle;
      font-weight: bold;    
      overflow: hidden;
      display: inline-block;      
      pointer-events: auto;  
      
      & > a{
        color: $info_color;
      }
      
      &:last-child{
        border-right: none;
      }
      
      & > img{
        top: -2px;
        height: 15px;
        padding: 0 5px;
        position: relative;
      }
    }
  }
}

.search-bar{
  top: 22px;   
  left:1%;
  width: 98%;
  height: 60px;
  line-height: 40px;
  margin: 0 0;
  background-color: $yellow_color;  
  vertical-align: bottom;
  position: absolute;  
  
  & span.header{
    float: left;
    width: 100%;
  }
  
  & > .input-helper{
    top: 10px;
    left: 20%;
    width: 60%;
    position:relative;
    
    &> input{
      height: 40px;
      width: 100%;
      padding: 0 5px;
      border-radius: 5px;
      border: 1px $atc_color solid;;
    }
    
    &> .icon{
      right: 0;
      opacity: 0.5;
      padding: 12px 10px;
      position: absolute;      
    }
    & > ul{
      right:0;
      left:0;
      min-width: 160px;      
      max-height: 500px;
      color: #333;
      background-color: #FFF;  
      border-radius: 10px;
      list-style: none outside;
      padding: 5px 10px;
      white-space: normal;
      text-align: left;
      box-shadow: 7px 8px 20px black, inset -1px -1px 6px #0A2C4A,inset 1px 1px 6px #2B58A2;
      overflow-style: move;
      overflow-y: auto;
      
      position: absolute;  
  
      & > li {
        padding: 2px 10px;
        border-radius: 0px;
        border-bottom: 1px solid #C7C7C7;
        float: none;
        position: relative;
        
        &:last-child{
          border-bottom: none;
        }
        
        &:hover{
          color: #0030C3;      
        }      
        
        & > input.form-control{
          line-height: 1rem;
          height: 25px;
        }
      }
    }
  }
  
  .markup-selector{
    &>span{
      font-weight: bold !important;        
    }    
  }
  
  .ui-select-choices-row{
    &:hover{ 
      background-color: #FFF !important;          
    }
  }
  
  label{
    width: 60%;
    vertical-align: top;
  }
  
  div.header-up {
      width: 25%;
      left: 0 ;
      top: -20px;
      height: 20px;
      background-color: $yellow_color;
      position:absolute;
      display: inline;
      
      & div{
        height: 20px;
        border-left: 20px solid transparent; 
        border-top: 20px solid $bg_color; 
        vertical-align: top;        
        display: inline-block; 
        float:right;
      }
    }
}

.main-menu-left{ 
  top: 60px + 22px;
  left: 1%;
  width: 14%;
  bottom: 60px;
  background-color: $yellow_color;
  border-top: 1px solid $menu_border;
  border-right: 1px solid $menu_border;
  position: absolute;
  
  & ul {    
    width: 100%; 
    padding: 0;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:1.2em;
    font-stretch: expanded;
    color: $menu_color;
    text-transform: initial;
    font-weight: bold;
    line-height: 35px;
    cursor: default;        
    
    &:first-child{      
      
      color: #665D49;//#21313A;      
      padding: 30px 0 0 0 ;    
      position: relative;      
      
      & > li {
        text-transform: uppercase;
        width: 100%;
        padding: 5px 0px;
        text-align: left;
        vertical-align: middle;
        border-top: 1px solid $menu_border;         
        
        &:first-child{
          border-top: none;          
        }
        
        &:hover {
          background-color: $yellow_color;
          cursor: default;
        }
        
        &:before{
          margin-top: 8px;
          left: 10px;
          
          color: #665D49;//#21313A;//#365161;
          
          content: '\E114';
          font-family: 'Glyphicons Halflings';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          
          position: absolute;
          float:left;
          display: inline-block;
        }
      }
    }        
    
    & > li {
      padding: 0 0 0 0px;      
      
      & > span {
        padding: 0 40px;
      }
      
      &:hover {
        background-color: #365161;
        cursor: pointer;
      }
      
      &:before{
        color: $menu_color;//#21313A;//#365161;  
        left: 10px;
        content: '\2BB1';
        position: absolute;
      }
      
      &.active:after{
        color: #FFF;//#365161;  
        right: -2px; 
        content: '\1F780';
        text-shadow: -1px 0 1px $menu_border;
        position: absolute;
      }
    }
  }
  
}

.view {
  top: 83px;
  left:15%;
  right: 1%;
  bottom: 60px;
  overflow-y: auto;
  background-color: #FFF;
  position: absolute;
}

.circle {  
  @include media-style((height,width,line-height),($sm:40px,$md:60px,$lg:80px,$xl:100px),40px);
  border-radius: 50%;  
  border: 2px solid #006699;  
  margin: 10px 5px;
  text-align: center;
  background: linear-gradient(-20deg, rgba(0,80,155,0.5)0%, rgba(155, 155, 255, 0.2)70%, rgba(255, 255, 255, 0.7)80%, rgba(255, 255, 255, 1)100%);
  cursor: pointer;
  
  & > img {
    top: -3px;
    max-width: 50%;
    position: relative;
  }
  
  &:hover{
    background: linear-gradient(-20deg, rgba(0,80,155,0.7)0%, rgba(155, 155, 255, 0.4)70%, rgba(255, 255, 255, 0.4)80%, rgba(155, 155, 255, 1)100%);    
  }
}
.login-window{
  right: (100% -  $width) / 2;
  left: auto;
  text-align: initial;
  line-height: initial;
  top: 100px;
}
span.placeholder{
  color: #DDD;
}
.select2 {
  position: relative;
}
ul.select2selector{
  right:0;
  min-width: 160px;
  color: #333;
  background-color: #FFF;  
  border-radius: 10px;
  list-style: none outside;
  padding: 5px 10px;
  white-space: normal;
  text-align: left;
  box-shadow: 7px 8px 20px black, inset -1px -1px 6px #0A2C4A,inset 1px 1px 6px #2B58A2;
  position: absolute;
  
  
  & > li {
    padding: 2px 10px;
    border-radius: 0px;
    border-bottom: 1px solid #C7C7C7;
    
    &:last-child{
      border-bottom: none;
    }
    
    &:hover{
      color: #0030C3;      
    }
  }
}

.ajax-button{
  top: 0;
  right: 0;
  height: 100% !important;
  background-color: transparent;
  border:none;
  position: absolute;  
}
.ajax-button-helper{
    top:0;
    left: 0;
    margin: 0 10px;
    min-width: 200px;
    min-height: 100px;    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .85rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    line-break: auto;
    position:absolute;
    z-index: 1001;
    
    &> .pointer{
      bottom: 50%;
      left: -10px;      
      border: solid 10px transparent;
      border-right-color: rgba(0, 0, 0, .25);      
      border-left-width: 0;
      position: absolute;
      
      &::after{        
        bottom: -10px;
        left: 1px;
        content: "";
        border-width: 11px;
      }
      
    }
    
    &> .ajax-button-header{
      padding: 8px 14px;
      margin: 0;
      font-size: 1rem;
      background-color: #f7f7f7;
      border-bottom: 1px solid #ebebeb;
      border-radius: 0.7rem 0.7rem 0 0;
    }
    
    &> .ajax-button-context{
      padding: 9px 14px;
    }
}

.footer {
    width: $width;
    left: (100% - $width)/2;
    margin: 0 auto;
    bottom: 0px;
    height: 60px;
    background-color: $yellow_color;
    border-top: 1px solid $menu_border;
    //padding-top: 20px;
    position: absolute;
}