/* 
    Created on : 09.09.2015, 09.09.2015 19:50:44
    Author     : sync1983
*/

@import "variable.scss";

$width: 80%;

html, body{
  background-color: #6699ff;  
  height: 100%;    
}

.wrap {
    width: $width;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    
    & > .container-fluid{
      padding: 0;
      width: 100%;
      margin: 130px auto 0;
      background-color: #FFF;
    }
}

.head{  
    top: 10px;
    width: $width;
    @include media-style((height,line-height),($sm:60px,$md:80px,$lg:100px,$xl:120px),60px);    
    background-color: #FFFFBA;
    padding: 0;
    margin: 0 0;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #6699ff;
    position: absolute;
    z-index: 1;
    
    & > .head-logo{
      width: 20%;
      display: block;
      position: relative;
      margin: 0 5px;
      float:left;
    }
    & > .circle {
      top: 10px;
    }
}

.info{  
  width: $width;   
  color: #0C557C;
  padding: 15px 0;
  @include media-style(top,($xs:0px,$sm:5px,$md:-5px,$lg:1px,$xl:3px),6px);
  @include media-style((height,line-height),($sm:60px,$md:80px,$lg:100px,$xl:120px),60px);
  @include media-style(font-size,($xs:0.5em,$sm:1em,$md:1em,$lg:0.9em,$xl:0.9em,1400px:1.5em),0.6em);
  text-align: center;  
  background-color: transparent;
  z-index: 2;
  position: absolute;
  pointer-events: none;
  
  & p {    
    width: 50%;
    height: 30px;
    margin: 0;
    padding: 0;    
    @include media-style(left,($xs:10%,$sm:15%,$md:15%,$lg:25%),25%);
    @include media-style((height,line-height),($xs:25px,$sm:20px,$md:27px,$lg:30px,$xl:35px),20px);
    vertical-align: middle;
    font-weight: bold;    
    font-family: "Arial",monospace;
    pointer-events: auto;  
    overflow: hidden;
    position:relative;
            
    &> img{
      top: -2px;
      height: 80%;
      padding: 0 5px;
      position: relative;
    }
  }
}

.search-bar{
  top: 120px + 10px;
  width: $width;
  height: 50px;
  padding: 5px 20px;
  margin: 0 0;
  border-radius: 0 0 20px 20px;
  //@include media-style((height,line-height),($sm:60px,$md:80px,$lg:100px,$xl:120px),60px);    
  background-color: #FFFFBA;
  border-bottom: 1px solid #6699ff;
  position: absolute;
  
  #searchFilter{
    &>input{
      width: 100%;
    }
  }
  
  .markup-selector{
    &>span{
      font-weight: bold !important;        
    }    
  }
  
  .ui-select-choices-row{
    &:hover{ 
      background-color: #FFF !important;          
    }
  }
  
  label{
    width: 60%;
    vertical-align: top;
  }
}

.circle {  
  @include media-style((height,width,line-height),($sm:40px,$md:60px,$lg:80px,$xl:100px),40px);
  border-radius: 50%;  
  border: 2px solid #006699;  
  margin: 10px 5px;
  text-align: center;
  background: linear-gradient(-20deg, rgba(0,80,155,0.5)0%, rgba(155, 155, 255, 0.2)70%, rgba(255, 255, 255, 0.7)80%, rgba(255, 255, 255, 1)100%);
  cursor: pointer;
  
  & > img {
    top: -3px;
    max-width: 50%;
    position: relative;
  }
  
  &:hover{
    background: linear-gradient(-20deg, rgba(0,80,155,0.7)0%, rgba(155, 155, 255, 0.4)70%, rgba(255, 255, 255, 0.4)80%, rgba(155, 155, 255, 1)100%);    
  }
}

.footer {
    width: $width;
    margin: 0 auto;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}