/* 
    Created on : 09.09.2015, 09.09.2015 19:50:44
    Author     : sync1983
*/

@import "_variable.scss";
 
$width: 100%; 
 
html, body{
  background-color: $bg_color;  
  height: 100%;    
}
 
.wrap {
  width: $width;    
  height: auto;
  margin: 0 auto -130px;    
  
  & > .container-fluid{
    padding: 0;
    width: 100%;
    margin: 130px auto 0;
    background-color: #FFF;
  }
}

.footer {     
  left: 0;
  right: 100% - (100% - $menu_left_width) / 2;
  margin: 0 auto;
  bottom: 5px;
  height: 65px;
  background-color: $view_color;
  font-weight: bold;
  color: #000;
  text-shadow: 0px 0px 1px #FFF;
  border-right: 2px solid $menu_border;
  font-size: 0.8em;
  text-align: center;
  overflow: hidden;
  position: absolute;
  
  & p {
    padding: 10px 0 0 0;
    margin: 0;
    width: 100%;
  }
  
  & p.powerd-by{
    font-size: 0.85em;
  }
}

@import "_parts.scss";

div.tray-bar{
  left: 100%-(100% - $menu_left_width) / 2;
  right:0;
  bottom: 5px;
  top: $info_height + $sb_height;  
  position: absolute;
}

span.cars{
  top: 1px;
  &:before{
    background: url('/img/cars.png') 0 0;
    background-size: 21px 15px;
    width: 21px;    
    height: 15px;    
    content: " ";
    display: block;
  }
}

form.login-form{
    
    .row-line{    
      left:3%;
      width: 94%;    
      //padding: 25px 0 0 0;
      margin:  5px 0 0 0;
      height: 24px;
      position: relative; 
      
      & > label, &>div>label{
        color: $atc_color;
        //top: -40px;
        height: 18px;
        margin: -8px 15px 0;
        line-height: 16px;
        font-size: 0.65em;        
        text-transform: initial;
        text-decoration: none;
        border-bottom: 1px dashed $atc_color;    
        vertical-align: middle;    
        cursor: pointer;
        
        @include no-select();
        
        position: relative;
      }
      
      &>div>label {
        margin: -8px 5px 0;
      }
    }
  }

.notifications{
  bottom: 70px; 
  left: 0;
  right: 100% - (100% - $menu_left_width) /2;
  min-height: 200px;
  max-height: 50%;
  font-size: 0.8em;
  overflow-y: hidden;
  position: absolute;
  
  & ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;    
    text-align: center;
    text-shadow: 0 0 5px #FFF;
  }
}

.view { 
  top: $info_height + $mml_line_height + $sb_height + 5px;
  left: (100% - $menu_left_width) /2;
  width: $menu_left_width;
  border-radius: 5px 5px 0 0;
  right: 0;
  bottom: 5px;
  overflow-y: auto;
  background-color: $view_color;
  position: absolute;
}

.login-window{
  right: (100% -  $width) / 2;
  left: auto;
  text-align: initial;
  line-height: initial;
  top: 100px;
}

div.tree-view{
  ul{
    li{
      div{       
        top: -2px;
        width: 14px;
        height: 14px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border:none;
        outline: none;
        display: inline-block;
        position: relative;
        
        &:hover{
          background-color: #D4D4F5;
        }
        
        &.search-btn{
          background-image: url('/img/search_icon.png');
        }
        &.info-btn{
          background-image: url('/img/info_icon.png');
          background-size: 100% 95%;
        }
      }
      span.item{
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 4px;
        &::before{
          display: none;
        }
        &::hover{
          font-weight: inherit;
          background-color: inherit;          
          border-radius: inherit;
        }
      }
    }
  }
}
