$xs: 20rem;
$sm: 34rem;
$md: 48rem;
$lg: 62rem;
$xl: 75rem;

$bg_color: #495266;//#2F4654;
$info_color: #ECE862;
$menu_color: #FFF7E5;//#9CE9F3; 
$menu_border: #476171;

//$yellow_color: #F5D909;
$yellow_color: #8F9AB2 ;//#4A80A0;
$atc_color: #0C557F;

@mixin media-style($attr,$size-map, $default:null){  
  
  @if (type-of($attr) == 'list'){
    @each $attr-name in $attr{
      @if ($default != null){
        #{$attr-name}: $default;
      }      
    }
    
    @each $size,$value in $size-map{    
      @media screen and (min-width: $size){
        @each $attr-name in $attr{
          #{$attr-name}: $value;    
        }
      }
    }
  }
  
  @if (type-of($attr) == 'string'){
    @if ($default != null){
      #{$attr}: $default;
    }    
    @each $size,$value in $size-map{
      @media screen and (min-width: $size){        
        #{$attr} : $value;
      }
    }
  }  
}

